body{
    /*background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #43546B 75%);*/
    background: #f9f9f9;
    background-attachment: fixed;
    background-size: cover;


}
.barra{
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #43546B 75%);
    /*background: linear-gradient(90deg,#fffd 10%, #d7eef7 60%);*/
    color:#fff;
    font-size: 13pt;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}


.btn{
    margin-bottom: 5px;
    background:rgba(65, 135, 160,.5);
    transition: all 0.1s ease-in;
    border: none;
    color: #FFF !important;
}
.btn-modal{
    margin-bottom: 5px;
    background:rgba(250, 250, 250,.3);
    transition: all 0.1s ease-in;
    border: none;
    color: #FFF !important;
}
.texto-cabecalho{
    color: #fff !important;
    cursor: pointer ;
}
.tabela-auditoria td, .tabela-auditoria tr, .tabela-auditoria tbody{
    background-color:  transparent !important;
    background:  transparent !important;
    color: #858585;
    border: none !important;
    border-bottom: 1px solid #ccc !important;
    padding-bottom: 10px !important;
    text-align: center;
}
.tabela-auditoria tr:hover{
    background: #f1f1f1 !important;
}
.tabela-auditoria th{
    background: rgba(200,200,200,.5) !important;
    border: none !important;
    border-bottom: 1px solid #fff !important;
    color: #858585;
    text-align: center;
}
.ui-panelgrid-blank tr,.ui-panelgrid-blank td{
    border: none !important;
}
.ui-panelgrid-blank tr:hover{
    background: transparent !important;
}