body{
    background: #fff;
    background-attachment: fixed;
    background-size: cover;
}
.barra{
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #43546B 75%);
    font-size: 20pt;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}
 .barra
,.btn,.btn-modal
,.texto-cabecalho,.texto-mesa
,a,a:hover
,.mesa,.mesa-vermelha
,.mesa-modal,.modal-text
,.ui-dialog .ui-dialog-title
,.ui-confirm-dialog-message
,.nao-ja-impressos,.ui-confirm-dialog,.acompanhamentos{
    color: #FFF !important;   
}
a,a:hover{
    text-decoration: none;
}
.btn{
    background:rgba(65, 135, 160,.5);
}
.btn-modal{    
    background:rgba(250, 250, 250,.3);
}
.btn-purple:hover{
    background: #a442f4;
}
.mesa,.btn,.btn-modal,.mesa-vermelha,.mesa-modal,input{
    border: none;    
}
.btn,.btn-modal{
    margin-bottom: 5px;
    transition: all 0.1s ease-in;
}
.texto-cabecalho,.mesa,.mesa-vermelha,.mesa-modal{
    cursor: pointer ;
}
.mesa{
    background-color:#68b6c9;
}
.mesa-vermelha{
    background-color:#ee929d;
}
.mesa,.mesa-vermelha,.mesa-modal{
    text-align: center;
    width: 155px;
    height: 165px;
    margin-top: 10px;
    border-radius: 10px;
    text-transform: uppercase;    
}
.mesa-modal{
    background: linear-gradient(135deg,#094b66 30%,#8ad8f2 95%);
    background-attachment: fixed;
    background-size: cover;
    box-shadow: 2px 2px rgba(100, 100, 100, .5);
}
.modal-text{
    font-size: 12pt !important;
    font-weight: bold !important;
}
ul{
    list-style: none;
    margin-left: -30px;
}
ul li{
    display: inline-block;
}
.ui-dialog{
    font-family: tahoma !important;
}
input{
    background-color:transparent;
    border-bottom: 1px solid #fff;
    outline: none !important;
    border-radius: 0px;
    font-size: 25pt;
    font-weight: bold;
    width: 100%;
    text-transform: uppercase;
}
input::placeholder{
    color: #aaa;
    font-size: 15pt;
    text-transform: capitalize;
}
.ui-confirm-dialog{
    background: linear-gradient(135deg,#094b66 20%, #d7eef7 80%,#fffd );
    padding: 20px;
    font-weight: bold;
    font-size: 30pt;
    text-align: center;
    width: 100% !important;
}
.ja-impressos{
    color: yellow;
}
.acompanhamentos{
    font-size: 7pt !important;
    padding-bottom: 1px;
}
.row{
    margin-bottom: 5px;
}