body{
    background: #fff;
    background-attachment: fixed;
    background-size: cover;
}
/*@media(max-width:700px){
    .rolagem{
        overflow: auto;
        height: 630px;
    }
}*/
a,a:hover{
    color: #286090;
    text-decoration: none;
}
input{
    background-color:transparent;
    border: none;
    border-bottom: 1px solid #858585;
    outline: none !important;
    border-radius: 0px;
    font-size: 25pt;
    width: 100%;
    text-transform: uppercase;
}
.campo-pesquisa{
    margin-top: 10px;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    
}
.barra,input{
    color: #757575;
    font-weight: bold;
}
input::placeholder{
    color: #ccc;
    font-size: 12pt;
    text-transform: capitalize;
}

ul{
    list-style: none;
    margin-left: -50px;
    color: #229b54;
    text-align: center;
}
ul li{
    margin-bottom: 15px;
}
.ui-dialog{
    font-family: tahoma !important;
}
.ui-confirm-dialog{
    background: linear-gradient(135deg,#094b66 20%, #d7eef7 80%,#fffd );
    padding: 20px;
    font-size: 30pt;
    text-align: center;
    width: 100% !important;
}
.row{
    margin-bottom: 5px;
}
.modal-text,.ui-confirm-dialog{
    font-weight: bold;    
}
.barra-grupo{
    border-right: 0.2px solid #bbb;
    margin-left: -20px;
    overflow: auto;
    height: 350px;
}
.produto{
    width: 100px;
    height: 100px;
    padding: 5px;
    border-radius: 3px;
    margin-left: 10px;
    margin-top:  10px;
    color: #6c8aaf;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    /*box-shadow: 1px 1px #ccc;*/
}
.barra-botoes{
    border-top: 0.2px solid #bbb;
    width: 100%;
    padding-top: 10px;
}
.lista-itens{
    border-left:  0.2px solid #bbb;

}
.btn-success{
    color:#17a541;
    border: none;
    background: transparent;
}
.btn-danger{
    color:#d64256;
    border: none;
    background: transparent;
}
.referencia{
    color: #bbb;
    font-size: 7pt;
    text-align: center;

}
.item{
    color: #858585;
    font-size: 8pt
}
.li-grupo{
    transition: width 0.2s ease-in;
}
.li-grupo:hover{
    width: 80px;
}

a{
    color: #fff;
}