*{
    box-sizing: border-box;
    font-size: 12px;
}

.grupo,.produto{
    width: 150px;
    height: 100px;
    padding: 5px;
    border-radius: 3px;
    margin-top:  10px;
    color: #000;
    background: #fff;
    border: 1px solid #68b6c9;
    display: inline-block;
}
.rolagem{
    overflow-y: auto;
    height:380px;
}
.btn{
    font-size: 14pt;
}
.btn-purple,.btn-purple:hover,.btn-purple:focus{
    color: #fff;   
}
.btn-purple{
    background-color: #5e35b1;
    margin-bottom: 5px;
}
.cabecalho{
    grid-column-start:1;
    grid-column-end:3;
}
.cabecalho a{
    font-size: 11pt;
}
.conteudo{
    grid-column-start:1;
    grid-column-end:3;
}
.barra-botoes{
    grid-column-start:1;
    grid-column-end:3;
    padding: 5px; 
}
#itensRapidos a{
    font-size: 11pt;
}
.my-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 10vh 80vh 10vh;
}
.mesa,.mesa-vermelha,.mesa-modal{
    text-align: center;
    width: 145px;
    height: 145px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
}
.mesa{
    background-color:#68b6c9;
}
.mesa-vermelha{
    background-color:#9575cd;
}
ul{
    list-style: none;
    margin-left: -50px;
    color: #229b54;
    text-align: center;
}
ul li{
    margin-bottom: 15px;
    font-size: 10px;
    display: inline-block;
}
.ui-messages-warn-summary{
    color: #fff !important;
}
.modal{
    z-index: 10000;
}