body{
    /*background: url('../resources/imagens/desfoque2.png') no-repeat;*/
    background: linear-gradient(180deg, rgba(0,0,0,0.8) 0%, rgba(9,107,50,0.5) 80%, rgba(50,130,50,0.5) 100%) no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.btn{
    background:rgba(250,250,250, .3) !important;
    border: none !important;
}
.btn-warning:hover{
    background: #f0ad4e !important;
    background-color: #f0ad4e !important;
    border: none !important;
}
.btn-success:hover{
    background: #5cb85c !important;
    background-color: #5cb85c !important;
    border: none !important;
}
.btn-danger:hover{
    background: #d9534f !important;
    background-color: #d9534f !important;
    border: none !important;
}
.btn-primary:hover{
    background: #337ab7 !important;
    background-color: #337ab7 !important;
    border: none !important;
}
.btn-info:hover{
    background: #5bc0de !important;
    background-color: #5bc0de !important;
    border: none !important;
}
.barra{
    background: rgba(100,100,100,0.4);
    color:#FFF;
    font-size: 20pt;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}
.ui-icon-closethick{
    background: #fff;
}

ul{
    list-style: none;
}
ul li{
    display: inline-block;
}
.ui-datalist-content{
    border: none !important;
}
.td-botao{
    padding: 0px !important;
    text-align: right;
    margin-top: 5px;
}
img{
    margin-right:10px;
}

.btn{
    margin-bottom: 10px ;
    font-weight: bold ;
    background:rgba(250,250,250, .3) ;
    transition: all 0.1s ease-in ;
    border: none ;
    color: #fff ;
}
span a{
    color: #fff !important;
}
.ui-growl{
    margin-top: 50%;
}
.mesa{
    background-color:rgba(150,200,250, .2);
    border-radius: 10px;
    cursor: pointer;
    color:#fff;
    border: none;
    height: 120px;
}
.ja-impressos{
    color: #f0ad4e;
}
.mesa-modal{
    background: linear-gradient(180deg, rgba(0,0,0,0.9) 0%, rgba(9,107,50,0.9) 80%, rgba(50,130,50,0.9) 100%) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    width: 145px;
    height: 145px;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
    color:#fff;
    border: none;
    padding-bottom: 20px !important;
}
.mensagem-impressao {
    background: #333;
    padding: 20px;
    color:#f0ad4e !important;
    font-weight: bold;
    font-size: 30pt;
    text-align: center;

}
.transparente{
    background: transparent !important;
    overflow: auto !important;
    height: 455px !important;
}
.ui-grid{
    background: transparent !important;
    border: none !important;
}
.ui-datagrid{
    border:none;
}
.ui-dialog{
    z-index: 20001 !important;
    font-family: tahoma !important;
}
.ui-dialog .ui-dialog-title{
    color: #fff;
}
.form-control{
    margin-bottom: 5px;
}
.table tbody tr:hover{
    background: rgba(100,100,100,.5);
}
