.jumbotron{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 10px;
    box-shadow: 1px 1px 1px 1px #bbb;
    background-color: #fff;
}
.form-control{
    margin-bottom: 5px;    
    font-size: 4rem !important;
    height: 60px !important;     
}
.btn-purple,.btn-purple:hover,.btn-purple:focus{
    background-color: #5e35b1;
    color: #fff;
    font-size: 2rem !important;
}
@media(min-width:400px){
    .jumbotron{
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        padding: 10px;
        width: 98%;
        box-shadow: 1px 1px 1px 1px #bbb;
        background-color: #fff;
    }
}
.barra{
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #43546B 75%);
    font-size: 20pt;
    border-bottom: 1px solid #ccc;
    color: #fff;
}
.mesa{
    text-align: center;
    width: 145px;
    height: 145px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
}
.mesa{
    background-color:#9575cd;
}
.btn-purple{
    background-color: #5e35b1;
    margin-bottom: 5px;
}
.btn-purple,.btn-purple:hover,.btn-purple:focus{
    color: #fff;   
}
ul{
    list-style: none;
    margin-left: -50px;
    color: #229b54;
    text-align: center;
}
ul li{
    margin-bottom: 15px;
    font-size: 10px;
    display: inline-block;
}
input::placeholder{
    font-size: 25pt;     
}