body{
    background: #fff;
    background-attachment: fixed;
    background-size: cover;
}
@media(max-width:700px){
    .rolagem{
        overflow: auto;
        height: 630px;
    }
}
.barra{
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #43546B 75%);
    font-size: 20pt;
    border-bottom: 1px solid #ccc;
}
a,a:hover{
    color: #286090;
    text-decoration: none;
}
input{
    background-color:transparent;
    border: none;
    border-bottom: 1px solid #858585;
    outline: none !important;
    border-radius: 0px;
    font-size: 25pt;
    width: 100%;
    text-transform: uppercase;
}
.barra,input{
    color: #757575;
    font-weight: bold;
}
input::placeholder{
    color: #ccc;
    font-size: 12pt;
    text-transform: capitalize;
}
.btn,.btn-modal{
    margin-bottom: 5px;
    transition: all 0.1s ease-in;
    border: none;
}
.btn{
    background:rgba(65, 135, 160,.7);
}
.btn-modal{
    background:rgba(250, 250, 250,.3);
}
.btn,.btn-modal,.mesa,.texto-cabecalho,.texto-mesa,.mesa-vermelha,.mesa-laranja,.mesa-modal,.modal-text,.ui-dialog .ui-dialog-title,.ui-confirm-dialog,.ui-confirm-dialog-message{
    color: #FFF !important;        
}
.mesa,.texto-cabecalho,.mesa-modal{
    cursor: pointer ;    
}
.mesa,.mesa-vermelha,.mesa-laranja,.mesa-modal{
    text-align: center;
    width: 145px;
    height: 145px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
}
.mesa{
    background-color:#68b6c9;
}
.mesa-vermelha{
    background-color:#ee929d;
}
.mesa-laranja{
    background-color:#fdc002;
}
.mesa-modal{
    background: linear-gradient(135deg,#094b66 20%, #d7eef7 95%);
    background-attachment: fixed;
    background-size: cover;
    box-shadow: 2px 2px rgba(100, 100, 100, .5);
    text-transform: none;
}
.modal-text{
    font-size: 12pt !important;
}
ul{
    list-style: none;
    margin-left: -30px;
}
ul li{
    display: inline-block;
    margin-right: 8px;
}
.ui-dialog{
    font-family: tahoma !important;
}
.ui-confirm-dialog{
    background: linear-gradient(135deg,#094b66 20%, #d7eef7 80%,#fffd );
    padding: 20px;
    font-size: 30pt;
    text-align: center;
    width: 100% !important;
}
.row{
    margin-bottom: 5px;
}
.modal-text,.ui-confirm-dialog{
    font-weight: bold;    
}