.barra{
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #43546B 75%);
    font-size: 20pt;
    font-weight: bold;
    border-bottom: 1px solid rgba(150,150,150,0.2);
}
.logo{
    padding: 20px;
    width: 70% !important;
}
.texto-logo{
    padding: 20px;
    font-size: 6pt;
    font-family: tahoma;
   
}
.cabecalho{
    font-size: 12pt;
    text-align: right;
    padding: 20px;
}
.venda-geral{
    font-size: 15pt;
}
