<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.FirebirdDialect</property>
    <property name="hibernate.connection.driver_class">org.firebirdsql.jdbc.FBDriver</property>
    <property name="hibernate.connection.url">jdbc:firebirdsql:localhost:E:\omega\DBA\porto-mix-rest.FDB</property>
    <property name="hibernate.connection.username">SYSDBA</property>
    <property name="hibernate.connection.password">masterkey</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.connection.lc_ctype">WIN1252</property>
    <mapping resource="modelo/Sosa98.hbm.xml"/>
    <mapping resource="modelo/Lapt51.hbm.xml"/>
    <mapping class="modelo.Acompanhamento"/>
    <mapping class="modelo.EspelhoComanda"/>
    <mapping class="modelo.GrupoAcompanhamento"/>
    <mapping class="modelo.ItemAcompanhamento"/>
    <mapping class="modelo.MotivoCancelamento"/>
    <mapping class="modelo.AtalhoFastFood"/>
    <mapping class="modelo.Cancelamento"/>
    <mapping class="modelo.Transferencia"/>
  </session-factory>
</hibernate-configuration>
